body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: bisque;
}
.box{
    width: 600px;
    padding: 50px;
    height: 100px;
    border-radius: 20px;
    background-color: #faf1e6;
    text-align: center;
}
button{
    height: 50px;
    width: 100px;
    border-radius: 20px;
    border: #faf1e6;
    background-color: burlywood;
    margin-top: 100px;
    position: relative;
    left: 300px;
}
button:hover{
    background-color: #ceaa7b;
}
